{% extends 'base.html' %} 
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ title }}</title>
</head>
    <body>
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <div  class="container">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            <div class="content-section">
                <h3>Subscribe</h3>
                <p class='text-muted'>Subscribe Here 
                    {{ wtf.quick_form(form) }}
                </p>
            </div>
        <div class="col-md-4">
        </div>
        </div>
    </div>
            
                <h2 class="text-center" id="posts">User {{current_user.username }}</h2>
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a  class="nav-link" data-toggle="tab" href="/new/blog"><h2><strong>My Blog</strong></h2></a>
                </li>
            </ul>
   

    <h3>{{ macro.displayBlogs(blog)}}</h3>
</div>
{% endblock %}

</body>
</html>